body {
    background-color: #1a1a2e;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin: 5px;
}

input {
    width: 70%;
}

button {
    background: linear-gradient(to right, #6d435a, #87466d, #b16d8e);
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #422640;
}

.response-container {
    border: 1px solid #6d435a;
    padding: 10px;
    min-height: 200px;
    background-color: #2a2a3e;
    overflow-y: auto;
    border-radius: 8px;
}
